python-dateutil
lxml
# newspaper  no longer supported for py2, install with instructions over here https://github.com/codelucas/newspaper/tree/python-2-head
python-jsonrpc
pymongo
pika
redis
requests
sklearn
numpy
scipy
tensorflow
watchdog